<h1 class="fw-bold">Todos:</h1>

<form
  [formGroup]="todoForm"
  class="d-flex justify-content-between"
  (ngSubmit)="addTodo()"
>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Add todo</mat-label>
    <input class="p-2" type="text" matInput formControlName="body" />
    <button
      class="mx-3"
      matSuffix
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      [disabled]="todoForm.invalid"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-form-field>
</form>

<mat-form-field appearance="fill">
  <mat-label>Choose status</mat-label>
  <mat-select [formControl]="selectedOption">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngFor="let todo of todoList | filter : selectedOption.value">
  <mat-card
    class="w-100 my-3"
    [ngClass]="{
      'bg-secondary': todo.status === 'done',
      'text-white': todo.status === 'done'
    }"
  >
    <mat-card-content class="d-flex justify-content-between align-items-center">
      <div>{{ todo.body }}</div>
      <div class="example-button-container">
        <button
          class="mx-1"
          (click)="updateTodoStatus(todo.id)"
          mat-fab
          color="primary"
          aria-label="Icon button with a check icon"
        >
          <mat-icon>{{ todo.status === "todo" ? "check" : "cancel" }}</mat-icon>
        </button>
        <button
          class="mx-1"
          (click)="deleteTodo(todo.id)"
          mat-fab
          color="primary"
          aria-label="Icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="(todoList | filter : selectedOption.value).length === 0">
  <h3 class="text-center my-3">No todos found</h3>
</div>
